<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Sephora问卷</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div><img src="images/img1.jpg"></div>

    <section class="Contain">
        <ul>
           <li class="one li">
               <div class="title"><span class="num">1</span>.对于尊享美力的活动，最吸引您前来的原因是？</div>
               <div class="con">
                   <ul>
                       <li>
                           <span data-txt='服务'><i></i></span> 服务
                       </li>
                       <li>
                           <span data-txt='买赠'><i></i></span> 买赠
                       </li>
                       <li>
                           <span data-txt='品牌'><i></i></span> 品牌
                       </li>
                       <li class="other">
                           <span data-txt='其它(请详述)'><i></i></span> 其它(请详述)
                       </li>
                   </ul>
                   <div class="text">
                       <textarea class="NO">请详述</textarea>
                   </div>
               </div>
           </li>
           <li class="two li">
               <div class="title"><span class="num">2</span>.您是否留意到此次尊享美力活动的改变？</div>
               <div class="con">
                   <ul>
                       <li>
                           <span data-txt='有'><i></i></span> 有
                       </li>
                       <li class="last">
                           <span data-txt='没有'><i></i></span> 没有
                       </li>
                   </ul>
               </div>
           </li>
           <li class="three li">
               <div class="title"><span class="num">3</span>.对于此次活动的改进部分您是否觉得满意？</div>
               <div class="con">
                   <ul class="width">
                       <li>
                           <span data-txt='满意'><i></i></span> 满意
                       </li>
                       <li class="other last">
                           <span data-txt='不满意(请写明原因)'><i></i></span> 不满意(请写明原因)
                       </li>
                       <li>
                           <span data-txt='一般'><i></i></span> 一般
                       </li>
                   </ul>
                   <div class="text">
                       <textarea class="NO">请说明您不满意的原因</textarea>
                   </div>
               </div>
           </li>
           <li class="four li">
               <div class="title"><span class="num">4</span>.活动改进的部分你觉得最满意的是？(可多选)</div>
               <div class="con">
                   <ul class="width">
                       <li>
                           <span data-txt='男模签到引领'><i></i></span> 男模签到引领
                       </li>
                       <li>
                           <span data-txt='门店现场装饰'><i></i></span> 门店现场装饰
                       </li>
                       <li>
                           <span data-txt='产品陈列专区'><i></i></span> 产品陈列专区
                       </li>
                       <li>
                           <span data-txt='活动特殊买赠(每周一花)'><i></i></span> 活动特殊买赠(每周一花)
                       </li>
                       <li>
                           <span data-txt='店内小食递送'><i></i></span> 店内小食递送
                       </li>
                       <li>
                           <span data-txt='Beauty Class'><i></i></span> Beauty Class
                       </li>
                   </ul>
               </div>
           </li>
           <li class="five li">
               <div class="title"><span class="num">5</span>.对于尊享美力的活动，您是否有其他的期许？</div>
               <div class="con">
                   <ul class="width">
                       <li class="other">
                           <span data-txt='有(如有，烦请详述)'><i></i></span> 有(如有，烦请详述)
                       </li>
                       <li class="last">
                           <span data-txt='没有'><i></i></span> 没有
                       </li>
                   </ul>
                   <div class="text">
                       <textarea class="NO">请详述</textarea>
                   </div>
               </div>
           </li>
           <li class="six">
               <div class="title"><span class="num">6</span>.您是否期待尊享美力(金卡会员活动)在门店外的场地进行？</div>
               <div class="con">
                   <ul class="width">
                       <li>
                           <span data-txt='是(如是，您期待在一下哪类场地)'><i></i></span> 是(如是，您期待在一下哪类场地)
                       </li>
                       <li class="padding">
                        <span data-txt='高档五星级酒店'><i></i></span> 高档五星级酒店
                    </li>
                    <li class="padding">
                        <span data-txt='环境优雅的餐厅'><i></i></span> 环境优雅的餐厅
                    </li>
                    <li class="padding">
                        <span data-txt='具有艺术氛围的场所'><i></i></span> 具有艺术氛围的场所
                    </li>
                    <li class="padding other">
                        <span data-txt='其他(请详述)'><i></i></span> 其他(请详述)
                    </li>
                    <li class="padding last" style="padding-left:0;">
                    	<span data-txt='否'><i></i></span> 否
                    </li>
                </ul>
                <div class="text">
                	<textarea class="NO">请详述</textarea>
                </div>
            </div>
        </li>
        <li class="seven">
        	<a href="javascript:void(0)" class="left">返<em></em>回</a>
            <a href="javascript:void(0)" class="right" onClick="filebtn()">提<em></em>交</a>
        </li>
    </ul>
</section>

<div class="bottom"><img src="images/img3.png"></div>

</body>
<script src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
//	$(".Contain .li .con li").click(function(){
//		var _class=$(this).children("span").attr("class");
//		if(_class!='span'){
//			$(this).children("span").addClass("span");
//			if($(this).attr("class")=='other'||$(this).attr("class")=='other last'){
//				var txt=$(this).parent().siblings(".text").find("textarea").text();
//				$(this).parent().siblings(".text").find("textarea").text('').focus().removeClass();
//			}
//		}else{
//			$(this).children("span").removeClass("span");
//			var _txt=$(this).parent().siblings(".text").find("textarea");
//			if(_txt.text()==''){
//				_txt.addClass("YES").text(txt);
//			}else{
//				_txt.addClass("YES");
//			}
//		}
//		$(this).siblings(".last").find("span").removeClass();
//		if($(this).attr("class")=='last'||$(this).attr("class")=='other last'){
//			$(this).siblings().find("span").removeClass();
//		}
//	})

    var one = '',
        onetxt = '',
        two = '',
        three = '',
        threetxt = '',
        four = [],
        five = '',
        fivetxt = '',
        six = '',
        sixtxt = '';


    $(".Contain .one .con li, .Contain .three .con li, .Contain .five .con li").click(function() {
        var _class = $(this).children("span").attr("class");
        if (_class != 'span') {
            $(this).children("span").addClass("span");
            if ($(this).attr("class") == 'other' || $(this).attr("class") == 'other last') {
                var txt = $(this).parent().siblings(".text").find("textarea").text();
                $(this).parent().siblings(".text").find("textarea").text('').focus().removeClass();
            }
            $(this).siblings().find("span").removeClass();
        } else {
            $(this).children("span").removeClass("span");
        }
    })

    $(".Contain .two .con li").click(function() {
        var _class = $(this).children("span").attr("class");
        if (_class != 'span') {
            $(this).children("span").addClass("span");
            $(this).siblings().find("span").removeClass();
        } else {
            $(this).children("span").removeClass("span");
        }
    })

    $(".Contain .four .con li").click(function() {
        var _class = $(this).children("span").attr("class");
        if (_class != 'span') {
            $(this).children("span").addClass("span");
        } else {
            $(this).children("span").removeClass("span");
        }
    })


    $(".Contain .six .con li").click(function() {
        var _class = $(this).children("span").attr("class");
        if (_class != 'span') {
            $(this).children("span").addClass("span");
            if ($(this).attr("class") == 'padding other') {
                var txt = $(this).parent().siblings(".text").find("textarea").text();
                $(this).parent().siblings(".text").find("textarea").text('').focus().removeClass();
            }
            if ($(this).attr("class") == 'padding' || $(this).attr("class") == 'padding other') {
                $(this).siblings("li").eq(0).find("span").addClass('span')
                $(this).siblings('.padding').find("span").removeClass();
            }
        } else {
            $(this).children("span").removeClass("span");
            var _txt = $(this).parent().siblings(".text").find("textarea");
            if (_txt.text() == '') {
                _txt.addClass("YES").text(txt);
            } else {
                _txt.addClass("YES");
            }
        }
        $(this).siblings(".last").find("span").removeClass();
        if ($(this).attr("class") == 'padding last') {
            $(this).siblings().find("span").removeClass();
        }
    })

    function filebtn() {
        one = $(".Contain .one .con .span").attr("data-txt");
        onetxt = $(".Contain .one textarea").val();
        two = $(".Contain .two .con .span").attr("data-txt");
        three = $(".Contain .three .con .span").attr("data-txt");
        threetxt = $(".Contain .three textarea").val();
        four = [];
        $(".Contain .four .con .span").each(function() {
            var datatxt = $(this).attr("data-txt");
            four.push(datatxt);
        });
        five = $(".Contain .five .con .span").attr("data-txt");
        fivetxt = $(".Contain .five textarea").val();
        six = $(".Contain .six .con .padding .span").attr("data-txt");
        sixtxt = $(".Contain .six textarea").val();
        console.log(one);
        console.log(onetxt);
        console.log(two);
        console.log(three);
        console.log(threetxt);
        console.log(four);
        console.log(five);
        console.log(fivetxt);
        console.log(six);
        console.log(sixtxt);
    }
</script>
</html>