<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实效数位-关于我们</title>
	<link href='http://cdn.webfont.youziku.com/webfonts/nomal/27235/46882/57905b4af629d80b64eea8f6.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css"></head>
<body>
	<div class="about">
		<div class="header">
			<a href="index.html" class="logo"></a>
			<div class="text">about</div>
		</div>
		<div class="pic">
			<img src="images/about/pic.jpg" alt="about"></div>
		<div class="content">
			<p>
				AS WITH ANY GOOD STORY, we’ll start at the beginning. James Walter Thompson was born October 28th, 1847, in Pittsfield, Massachusetts. Nothing pioneering yet, but all that would soon change.
			</p>
			<br>
			<p>
				In America, the Emancipation Proclamation, which freed the slaves, was signed. The 13th Amendment, which abolished slavery forever, was ratified. And an agency that would give
			 rise to the start of James Walter Thompson’s career was founded.
			</p>
		</div>
		<div class="nav_bar"></div>
		<div class="footer">
			<a href="menu.html" class="menu"></a>
			<div class="btn_search  pop"></div>
		</div>
		<div class="search_bottom hide">
			<div class="search_box">
				<div class="search_content">
					<input type="text" class="hide" id="search_text">
					<div class="search_text">
						<div class="text"></div>
					</div>
				</div>
				<div class="btn_search"></div>
			</div>
		</div>
	</div>
	<script src="js/zepto.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>