<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实效数位-遇见实效</title>
	<link href='http://cdn.webfont.youziku.com/webfonts/nomal/27235/46882/57905b4af629d80b64eea8f6.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css"></head>
<body>
	<div class="contact">
		<div class="header">
			<a href="index.html" class="logo"></a>
			<div class="text">contact</div>
		</div>
		<div class="pic">
			<img src="images/contact/pic.jpg" alt="contact"></div>
		<div class="content">
			<p>G08, Building 16th,NO.140 Tianlin Road,</p>
			<p>ShangHai, China PR.</p>
			<p>200233</p>
			<p>021+64825170</p>
			<p>021+64825171</p>
		</div>
		<div class="nav_bar"></div>
		<div class="footer">
			<a href="menu.html" class="menu"></a>
			<div class="btn_search  pop"></div>
		</div>
	</div>
	<script src="js/zepto.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>