<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实效数位</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- <link href='http://cdn.webfont.youziku.com/webfonts/nomal/27235/46882/57905b4af629d80b64eea8f6.css' rel='stylesheet' type='text/css' /> -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	<div class="home_portrait">
		<a href="#" class="logo"></a>
		<div class="percentage"></div>
		<div class="search">
			<div class="search_box">
				<div class="search_content">
					<input type="text" class="hide" id="search_text">
					<div class="search_text">
						<div class="text"></div>
					</div>
				</div>
				<div class="btn_search"></div>
			</div>
		</div>
		<a href="menu.html" class="menu"></a>
	</div>
	<div class="home_landscape hide">
		<a href="#" class="logo"></a>
		<div class="text1 text">marketing</div>
		<div class="text2 text">cases</div>
		<div class="text3 text">service</div>
		<div class="text4 text">concept</div>
		<div class="text5 text">solution</div>
		<div class="text6 text">Cars</div>
		<div class="text7 text">remy&nbsp;martin</div>
		<div class="text8 text">SAIC</div>
		<div class="text9 text">michelin</div>
		<div class="text10 text">smartweb</div>
		<div class="text11 text">fotile</div>
		<a href="menu.html" class="menu"></a>
	</div>
	<script src="js/zepto.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>