<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实效数位-导航</title>
	<link href='http://cdn.webfont.youziku.com/webfonts/nomal/27235/46882/57905b4af629d80b64eea8f6.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css"></head>
<body>
	<div class="nav">
		<a href="about.html" class="about_text text">about</a>
		<div class="line"></div>
		<a href="solution.html" class="solution_text text">solution</a>
		<div class="line"></div>
		<a href="service.html" class="service_text text">service</a>
		<div class="line"></div>
		<a href="cases.html" class="cases_text text">cases</a>
		<div class="line"></div>
		<a href="contact.html" class="contact_text text">contact</a>
		<div class="line"></div>
		<div class="wechat"></div>
		<div class="btn_search  pop"></div>
	</div>
	<script src="js/zepto.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>